.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  padding: 5px;
  width: 350px;
  display: flex;
  border-radius: 50%;
  background-color: #282c34;
  
  }
  html {
    scroll-behavior: smooth;
  }
  