@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400;1,700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,900;1,400;1,700&family=Rubik:wght@400;600;700;800&family=Titillium+Web:wght@300;400;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2rem 12.5%;
  background: var(--bg-c);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}

.header.sticky {
  background: var(--s-bg-c);
}



.navbar {
  overflow: hidden;
  width: 30%;          
    margin: 0 auto;       
    transform: translateX(70%);
    z-index: 1000; 
    position: sticky;
    top: 0; 
    background: var(--bg-c);
    font-family: Poppins,sans-serif;
    margin-bottom: 20px; /* eller det värde du önskar */
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
     font-family: Poppins,sans-serif;
}

.navbar a:hover {
  color: black;
}

.navbar a.active {
  background: var(--bg-c);
  color: #0ef; /* Textfärg för aktiv länk */
  
}
