.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #282c34;
 
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  height: 90vh;
}

main {
  margin: 20px;
}

section {
  margin-bottom: 20px;
}
